<main class="dashboard">
  <div class="meta" id="meta">
    <section class="card card-meta">
      <header class="card-header">
        <h3>Meta Mensal</h3>
        <button class="card-close" (click)="close('meta')">×</button>
      </header>
      <div class="card-content">
        <div class="valores">
          <h4>R$ {{meta}}</h4>
          <h4>R$ 16.000,00</h4>
        </div>
        <mat-progress-bar class="progress" color="primary" mode="determinate" value="{{this.bar}}">
        </mat-progress-bar>
      </div>
    </section>
  </div>



  <section class="cards-grid">
    <div class="card" id="gastos">
      <header class="card-header">
        <h3>Possíveis Lucros</h3>
        <button class="card-close" (click)="close('gastos')">×</button>
      </header>
      <div class="card-content">
        <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" type="pie">
        </canvas>
      </div>
    </div>

    <div class="card" id="idade">
      <header class="card-header">
        <h3>Idade dos Passageiros</h3>
        <button class="card-close" (click)="close('idade')">×</button>
      </header>
      <div class="card-content">
        <canvas baseChart [data]="barChartDataIdade" [options]="barChartOptions" [type]="'bar'">
        </canvas>
      </div>
    </div>

    <div class="card" id="lucro">
      <header class="card-header">
        <h3>Vendas vs Lucros</h3>
        <button class="card-close" (click)="close('lucro')">×</button>
      </header>
      <div class="card-content">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'">
        </canvas>
      </div>
    </div>
  </section>
  <section class="card card-viagens" id="viagem">
    <header class="card-header">
      <h3>Últimas 5 Viagens</h3>
      <button class="card-close" (click)="close('viagem')">×</button>
    </header>
    <div class="trips-table-wrapper" *ngIf="trips.length > 0">
      <div class="trips-table header">
        <span>Viagem</span>
        <span>Data</span>
        <span>Preço</span>
        <span>Passageiros</span>
        <span>Detalhes</span>
      </div>

      <div class="trips-table row" *ngFor="let trip of trips">
        <span>{{ trip.nome }}</span>
        <span>{{ trip.data | date : "dd/MM/yyyy" }}</span>
        <span>R$ {{ trip.preco | number : "1.2-2" }}</span>
        <span>{{ trip.passageiros.length }} / {{trip.onibus.capacidade}}</span>
        <span><a href="/home/trips/{{trip._id}}">Acessar</a></span>
        
      </div>
      <div class="trips-table-disabled row" *ngFor="let trip of disabledTrips">
        <span>{{ trip.nome }}</span>
        <span>{{ trip.data | date : "dd/MM/yyyy" }}</span>
        <span>R$ {{ trip.preco | number : "1.2-2" }}</span>
        <span>{{ trip.passageiros.length }} / {{trip.onibus.capacidade}}</span>
        <span><a href="/home/trips/{{trip._id}}">Acessar</a></span>
      </div>
    </div>
  </section>
</main>