header{
    padding: 0px 15px;
    background-color: rgb(44, 44, 44);
}

.link-header{
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 2px;
}

header ul li {
    color: white;
}

.link-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.2s ease;
}

.link-header:hover::after {
    width: 100%;
    background-color: #c62828;
}

.link-selected {
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 2px #c62828 solid;
}