<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <a href="/" class="col-md-3 mb-2 mb-md-0">
        <img src="https://montanna.com.br/storage/2022/09/logo-montanna-medio.png"
            alt="" style="margin: -60px 0; z-index:-1;" width="160px" height="40px">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 gap-3">
        <li> <a href="/home" [ngClass]="{'link-selected': currentPage == 'home', 'link-header': currentPage != 'home'}">Home</a></li>
        <li> <a href="/visitas" [ngClass]="{'link-selected': currentPage == 'visitas', 'link-header': currentPage != 'visitas'}">Visitas</a></li>
        <li> <a href="/saidaVeiculos/saidas" [ngClass]="{'link-selected': currentPage == 'saidaVeiculos', 'link-header': currentPage != 'saidaVeiculos'}">Saída de Veículos</a></li>
        <li> <a href="/ocorrencias" [ngClass]="{'link-selected': currentPage == 'ocorrencias', 'link-header': currentPage != 'ocorrencias'}">Ocorrências</a></li>
        <li> <a href="/codigo" [ngClass]="{'link-selected': currentPage == 'codigo', 'link-header': currentPage != 'codigo'}">Retirada</a></li>
    </ul>

    <div class="col-md-3 text-end">

        <button mat-raised-button color="primary" class="mt-2" (click)="logout()">Sair</button>
    </div>
</header>