<div class="flex h-screen">
    <div class="w-1/2 flex items-center justify-center">
        <div class="w-96">
            <h2 class="text-2xl font-bold mb-4">Faça seu login</h2>
            <form action="" method="POST">
           
                <div class="mb-4">
                    <label class="block text-sm font-medium">E-mail</label>
                    <input type="email" name="email" class="w-full px-4 py-2 border rounded-md">
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium">Senha</label>
                    <input type="password" name="password" class="w-full px-4 py-2 border rounded-md">
                </div>
                <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md">Login</button>
            </form>
            <p class="mt-4 text-sm">Não tem conta? <a href="registrar.html" class="text-blue-600">Crie uma agora</a></p>
        </div>
    </div>
    <div class="w-1/2 bg-blue-600 flex items-center justify-center text-white">
        <div class="text-center">
            <h2 class="text-xl font-bold">Bem-vindo de volta!</h2>
            <p>A melhor experiência de login que você já teve.</p>
        </div>
    </div>
</div>
