<div class="trip-detail-container">
  <h1>Detalhes da Viagem</h1>

  <div *ngIf="isLoading">Carregando...</div>
  <div *ngIf="error">{{ error }}</div>

  <div *ngIf="trip">
    <h2>{{ trip.nome }}</h2>
    <p><strong>Data:</strong> {{ trip.data | date : "dd/MM/yyyy" }}</p>
    <p><strong>Preço:</strong> R$ {{ trip.preco | number : "1.2-2" }}</p>
    <p><strong>Descrição:</strong> {{ trip.descricao || "Sem descrição" }}</p>
    <p><strong>Passageiros:</strong> {{ trip.passageiros.length }}</p>
    <p><strong>Lotação máxima: </strong>{{trip.onibus.capacidade}}</p>
  </div>
  <button class="generate-report" (click)="generateReport()">
    Gerar Relatório
  </button>
</div>
<div class="trips-container" *ngIf="trip">
  <div class="trips-table-wrapper" >
    <div class="trips-table header">
      <span>Nome</span>
      <span>CPF</span>
      <span>Email</span>
      <span>Idade</span>
    </div>

    <div class="trips-table row" *ngFor="let passenger of trip.passageiros">
      <span>{{ passenger.nome }}</span>
      <span>{{ passenger.cpf | cpfOuCnpj }}</span>
      <span>{{ passenger.email }}</span>
      <span>{{ passenger.idade }}</span>
      <!-- <span class="actions">
      <button *ngIf="passenger._id"  (click)="viewDetails(passenger._id)">Ver</button>
      <button *ngIf="passenger._id"  (click)="editpassenger(passenger._id)">Editar</button>
      <button *ngIf="passenger._id"  (click)="deletepassenger(passenger._id)" class="delete">Excluir</button>
    </span> -->
    </div>
  </div>
</div>