<div class="suppliers-container">
    <h1>Fornecedores</h1>
    <button class="button" (click)="createSupplier()">Novo fornecedor</button>

    <div *ngIf="isLoading" class="loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <div class="suppliers-table-wrapper" *ngIf="suppliers.length > 0">
        <div class="suppliers-table header">
            <span>Viagem</span>
            <span>endereco</span>
            <span>telefone</span>
            <span>Ações</span>
        </div>
        <div *ngFor="let supplier of suppliers">
            <div class="suppliers-table row" *ngIf="supplier._id"  >
                <span (click)="viewSupplier(supplier._id)" class="viewDetail">{{ supplier.nome }}</span>
                <span>{{ supplier.endereco }}</span>
                <span>{{ supplier.telefone }}</span>
                <span class="actions">
                    <button *ngIf="supplier._id" (click)="updateSupplier(supplier)">Editar</button>
                    <button *ngIf="supplier._id" class="delete" (click)="deleteSupplier(supplier._id)">Excluir</button>
                </span>
            </div>
        </div>
    </div>
</div>