.logo-img {
    width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto; // centraliza horizontalmente
    //   height: 300px; // ajuste conforme sua logo
    //   width: auto;
    // //   display: block;
    //   align-items: center;
    
}

.text {
    font-size: 1rem;
    align-items: center;
}

.img {
    margin: 0;
}