.layout {
    display: flex;
    flex-direction: row;
    height: 100vh; /* altura total da viewport */
    width: 100%;
  }
  
  .sidebar {
    height: 100vh; /* ocupa toda a altura da viewport */
    width: 20%;
    background-color: #9ea0e5;
  }
  .menu-button {
    margin: 5px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: #4a289e;
    transition: color .35s ease, background-color 0.35s ease;
    border-radius: 5px;

  }
  .menu-button:hover {
    color: #ffffff;
    background-color: #4a289e;
  }
  .menu-button-sidebar {
    margin: 5px;
    margin-left: 5em;
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: #4a289e;
    transition: color .35s ease, background-color 0.35s ease;
    border-radius: 5px;

  }
  .menu-button-sidebar:hover {
    background-color: #4a289e;
    color: #ffffff;
  }

  .home {
    width: 100%;
  }