.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease;
}

.sidebar {
  width: 16%;
  background: linear-gradient(180deg, #1c2b64, #1f62b3);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.534);
  position: sticky;
  top: 0;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 0;

}

.menu-button {
  display: flex;
  justify-content: flex-start;
  flex: 1;

}

.menu-ico {
  margin: 5px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #4a289e;
  transition: color 0.35s ease, background-color 0.35s ease;
  border-radius: 5px;

}

.menu-ico:hover {
  color: #ffffff;
  background-color: #4a289e;
}

.menu-button-sidebar {
  margin-left: 80%;
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #4a289e;
  transition: color 0.35s ease, background-color 0.35s ease;
  border-radius: 5px;
}

.menu-button-sidebar:hover {
  background-color: #4a289e;
  color: #ffffff;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 60px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}

.username {
  color: #1f62b3;
  font-size: 1rem;
  line-height: 1;
}

.signout {
  font-size: 0.75rem;
  background: none;
  border: none;
  color: #6c94de;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: color 0.3s;
}

.signout:hover {
  color: #1c2b64;
  text-decoration: underline;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}